body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.mine-wrapper {
    background-color: #BDBDBD;
}
.mine-row {
    display: block;
}
.mine-cell {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #6D6D6D;

}