body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.mine-wrapper {
    background-color: #BDBDBD;
}
.mine-row {
    display: flex;
}
.mine-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border: 1px solid #6D6D6D;
    position: relative;
}
.mine-cell.error {
    background-color: #FF0000;
}
.mine-cell.closed-cell:before {
    content: '';
    position: absolute;
    display: block;
    background-color: #C0C0C0;
    top: -1px;
    left: -1px;
    width: 30px;
    height: 30px;
    border-color: #FBFCFC #868686 #868686 #FBFCFC;
    border-style: solid;
    border-width: 2px;
}
.is-mine {
    background-image: url('../img/mine.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.mine-cell.has-flag:before {
    background-image: url('../img/flag.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.hint-1 {
    color: #0000FE;
}
.hint-2 {
    color: #007F00;
}
.hint-3 {
    color: #D70000;
}
.hint-4 {
    color: #01007C;
}
.hint-5 {
    color: #770300;
}
.hint-6 {
    color: #008080;
}
.hint-7 {
    color: #840084;
}
.hint-8 {
    color: #808080;
}